body {
	background-color: #efeee7;
	font-style: "Georgia";
	color: #333333;
	margin:0;
	padding: 0;
}

header {
	background-color: #d21034;
}

h1 {
	background-color: #333333;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

h2 {
	font-size: 24px;
	font-family: 'Work Sans', sans-serif;

}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio {
	float: left;
	width: 70%;
	margin: ;
	font-family: 'Racing Sans One', cursive;
	font-size: 16px;
	line-height: 24px;
}

#contact-info {
	float: left;
}

#bio-image {
	float: left;
	width: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: 'Racing Sans One', cursive;
	font-size: 16px
	line-height: 24px;
}